@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font: 16px;
}

img {
    width: 100%;
    height: auto;
}

li,
ul,
a {
    text-decoration: none;
    list-style: none;
}

.App {
    overflow-x: hidden;
}